#Results of all tests
[==========] Running 46 tests from 1 test suite.
[----------] Global test environment set-up.
[----------] 46 tests from CharacterTest
[ RUN      ] CharacterTest.PehotaInitialization
[       OK ] CharacterTest.PehotaInitialization (0 ms)
[ RUN      ] CharacterTest.PehotaAttack
Вы нанесли 3 урона по Пехота
[       OK ] CharacterTest.PehotaAttack (0 ms)
[ RUN      ] CharacterTest.PehotaAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.PehotaAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.VorInitialization
[       OK ] CharacterTest.VorInitialization (0 ms)
[ RUN      ] CharacterTest.VorAttack
Вы нанесли 2 урона по Пехота
Вы украли 1 урона у Пехота
[       OK ] CharacterTest.VorAttack (0 ms)
[ RUN      ] CharacterTest.VorAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.VorAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.BerserkInitialization
[       OK ] CharacterTest.BerserkInitialization (0 ms)
[ RUN      ] CharacterTest.BerserkAttack
Вы нанесли 5 урона по Пехота
[       OK ] CharacterTest.BerserkAttack (0 ms)
[ RUN      ] CharacterTest.BerserkAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.BerserkAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.PaladinInitialization
[       OK ] CharacterTest.PaladinInitialization (0 ms)
[ RUN      ] CharacterTest.PaladinAttack
Вы нанесли 4 урона по Пехота
[       OK ] CharacterTest.PaladinAttack (0 ms)
[ RUN      ] CharacterTest.PaladinAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.PaladinAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.StrelokInitialization
[       OK ] CharacterTest.StrelokInitialization (0 ms)
[ RUN      ] CharacterTest.StrelokAttack
Вы нанесли 1 урона по Пехота
Вы нанесли 1 урона по Пехота
Вы нанесли 1 урона по Пехота
[       OK ] CharacterTest.StrelokAttack (0 ms)
[ RUN      ] CharacterTest.StrelokAttackOutOfRange
Неудачная атака
Неудачная атака
Неудачная атака
[       OK ] CharacterTest.StrelokAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.EgerInitialization
[       OK ] CharacterTest.EgerInitialization (0 ms)
[ RUN      ] CharacterTest.EgerAttack
Вы нанесли 3 урона по Пехота
[       OK ] CharacterTest.EgerAttack (0 ms)
[ RUN      ] CharacterTest.EgerAttack_1
Вы нанесли 6 урона по Целитель
[       OK ] CharacterTest.EgerAttack_1 (0 ms)
[ RUN      ] CharacterTest.EgerAttackOutOfRange_1
Неудачная атака
[       OK ] CharacterTest.EgerAttackOutOfRange_1 (0 ms)
[ RUN      ] CharacterTest.AntimagInitialization
[       OK ] CharacterTest.AntimagInitialization (0 ms)
[ RUN      ] CharacterTest.AntimagAttack
Вы нанесли 3 урона по Пехота
[       OK ] CharacterTest.AntimagAttack (0 ms)
[ RUN      ] CharacterTest.AntimagAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.AntimagAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.AssasinInitialization
[       OK ] CharacterTest.AssasinInitialization (0 ms)
[ RUN      ] CharacterTest.AssasinAttack
Вы нанесли 3 урона по Пехота
[       OK ] CharacterTest.AssasinAttack (0 ms)
[ RUN      ] CharacterTest.AssasinAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.AssasinAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.CelitelInitialization
[       OK ] CharacterTest.CelitelInitialization (0 ms)
[ RUN      ] CharacterTest.CelitelAttack
Вы восстановили 2 здоровья у Пехота
[       OK ] CharacterTest.CelitelAttack (0 ms)
[ RUN      ] CharacterTest.CelitelAttackOutOfRange
Пехота мертв, ему нельзя восстановить здоровье!
[       OK ] CharacterTest.CelitelAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.Zaclinatelnitialization
[       OK ] CharacterTest.Zaclinatelnitialization (0 ms)
[ RUN      ] CharacterTest.ZaclinatelAttack
Вы отняли 1 урона у Пехота
[       OK ] CharacterTest.ZaclinatelAttack (0 ms)
[ RUN      ] CharacterTest.ZaclinatelAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.ZaclinatelAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.ArhimagInitialization
[       OK ] CharacterTest.ArhimagInitialization (0 ms)
[ RUN      ] CharacterTest.ArhimagAttack
Вы нанесли 3 урона по Пехота
Вы нанесли 3 урона по Пехота
[       OK ] CharacterTest.ArhimagAttack (0 ms)
[ RUN      ] CharacterTest.ArhimagAttackOutOfRange
Неудачная атака
Неудачная атака
[       OK ] CharacterTest.ArhimagAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.IlluzionistInitialization
[       OK ] CharacterTest.IlluzionistInitialization (0 ms)
[ RUN      ] CharacterTest.IlluzionistAttack
Вы нанесли 3 урона по Пехота
[       OK ] CharacterTest.IlluzionistAttack (0 ms)
[ RUN      ] CharacterTest.IlluzionistAttackOutOfRange
Неудачная атака
[       OK ] CharacterTest.IlluzionistAttackOutOfRange (0 ms)
[ RUN      ] CharacterTest.AmuletInitialization
[       OK ] CharacterTest.AmuletInitialization (0 ms)
[ RUN      ] CharacterTest.AmuletUse
Вы увеличили здоровье Пехота на 5 единиц
[       OK ] CharacterTest.AmuletUse (0 ms)
[ RUN      ] CharacterTest.AmuletUseOutOfRange
Пехота мертв, ему нелзя восстановить здоровье!
[       OK ] CharacterTest.AmuletUseOutOfRange (0 ms)
[ RUN      ] CharacterTest.YadInitialization
[       OK ] CharacterTest.YadInitialization (0 ms)
[ RUN      ] CharacterTest.YadUse
Вы уменьшили здоровье Пехота на 4 единицы
[       OK ] CharacterTest.YadUse (0 ms)
[ RUN      ] CharacterTest.EleksirInitialization
[       OK ] CharacterTest.EleksirInitialization (0 ms)
[ RUN      ] CharacterTest.EleksirUse
Вы повысили урон Пехота на 1 единицу
[       OK ] CharacterTest.EleksirUse (0 ms)
[ RUN      ] CharacterTest.ProklyatieInitialization
[       OK ] CharacterTest.ProklyatieInitialization (0 ms)
[ RUN      ] CharacterTest.ProklyatieUse
Вы понизили урон Пехота на 1 единицу
[       OK ] CharacterTest.ProklyatieUse (0 ms)
[----------] 46 tests from CharacterTest (0 ms total)

[----------] Global test environment tear-down
[==========] 46 tests from 1 test suite ran. (0 ms total)
[  PASSED  ] 46 tests.
